:global :root {
    --black: #121213;
    --gray: #3a3a3c;
    --white: #f8f8f8;
}

:global * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:global body {
    background-color: var(--black);
    display: grid;
    place-items: center;
    height: 100vh;
}
